{% extends 'base_form.html' %}

{% block optional_nav %} 
    <a href="{% url 'register_page' %}">Register</a>
{% endblock %}



{% block show_errors %}

{% if form.errors %}
    <ul>
        <li>Enter correct data</li>
    </ul>
{% endif %}

{% endblock %}


{% block head_title %}
    Login
{% endblock %}



{% block form_header %} Login {% endblock %}


{% block button_text %} Login {% endblock %}
{% block form_action %}action="{% url 'login_page'%}"{% endblock %}

{% block forgot_password %}
    <a href="{% url 'forgot_password_page' %}">Forgot password?</a> 
{% endblock %}